.stretched-link{
    background-color: #D7B399;

}
.header-title{
    font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 37px;
letter-spacing: 0.02em;

color: #000000;

}
.header-brand{
    font-style: normal;
font-weight: bolder;
font-size: 55px;
line-height: 70px;
letter-spacing: 0.04em;

color: #000000;
}
.header{
    background-color: #F9F6F1;
    padding: 50px;

}
.navbar{
    background-color: #F9F6F1;

}
.header-box{
    font-style: normal;



letter-spacing: -0.1rem;
margin-top: -10px;

color: #D84033;
}
.header-blok{
    position: relative;
    /* margin-top: 50; */
}
.header-part{
    position: absolute;
    top: 25%;
    left: 71%;
    transform: translate(-50%,-50%);
}
.header-img{
    width: 500px;
}
.content{
    padding:100px 50px;
    background-color: #212121;
}

.page-icon{
    width: 70px;
    height: 25px;
    
}
.page{
    padding: 50px;
    background-image: linear-gradient(to right, #F9F6F1 0% 50%,#F4F4F4 50% 100%);

}
.page .container .page-box{
    background-color:#F9F6F1 ;
}

.page-title{
    
    font-weight: 200;
}

.page-picture{
    margin-top: 60px;
    object-fit: contain;
}
.aside-part{
    position: relative;

}
.aside-info{
    position: absolute;
    top: 90%;
    left: 15%;
    transform: translate(50%,-50%);
}
.aside{
    padding:0px 50px;
    
}
.sidebar{
    padding: 50px;
}
.wrapper{
    padding: 50px;
}
.wrapper-input{
    background-color: #F9F6F1;
}


.footer{
    padding: 50px;
}
.footer-link:hover{
    color: red !important; 
}



@media(max-width:1210px){
    .container{
        width: 1080px;
    }
    .nav-item-logo{
        font-size: 23px;
        width: 110px;
    }
    .nav-item-part{
        display: none !important;
    }
    
.aside-info{
    position: absolute;
    top: 90%;
    left: 12%;
    transform: translate(50%,-50%);
}
}
 @media(max-width:995px)
{
    .container{
        width: 740px;
    }
    .wrapper-form{
        margin-top: 25px;
    }
    .wrapper-input{
        margin-bottom: 20px;
    }
    .footer-info{
        display: none !important;
        width: 0%;
    }
    .footer-list{
        padding-left: 40px;
    }
}
@media(max-width:760px){
    .container{
width: 570px;
    }
    .header .container .row{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
    .page-picture{
        margin-left: 0;
    }
    .page-box{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    /* text-align: center; */
    }
    .page-blok{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
    .footer-list{
        
        width: 25%;
        
        
    }
    
    .footer-icon{
        width: 0;
    }
    
}
@media(max-width:580px){
    .container{
        width: 400px;
    }
    .content-title{
        font-size: 24px;
    }
    .header-picture{
                display: none;

    }
    .header .container .row{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        
    }
    .header-brand{
        font-size: 35px;
        line-height: 50px;
        
    }
    .header-title{
        font-size: 25px;
        line-height: 30px;
        
    }
    .page{
        padding: 50px;
        background-image: linear-gradient(to bottom, #F9F6F1 0% 50%,#F4F4F4 50% 100%);
    }
    .content{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
        .page .container .row{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
        }
 
    .aside-info{
        position: absolute;
    top: 60%;
    left: 40%;
    transform: translate(50%,-50%);
    }     
.sidebar-img{
    width: 260px;
}
.sidebar-card{
    width: 100%;
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar-title{
    margin-right: 50px;
}
.wrapper-input{
    width: 330px;
}
.footer-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footer-list{
    width: 50%;
    margin-top: 20px;
}
}